.info
{
    
    width: 1200px;
    display: flex;
    position: center;
    margin-left: auto;
    margin-right: auto ;
    margin-top: 342px;
    height:400px;
    background-color: #ffcb78;
}


.info__first{
    font-weight: 600;
    font-size: 20px;
  font-family:  sans-serif;
    margin-top: 100px;
    margin-left: 490px
 
}


.info__second{
    margin-top: 100px;
     margin-left: 90px;
    position: absolute;
   
}

.info__third{
     margin-left: 900px;
    margin-top: 95px;
    position: absolute;
     font-weight: 600;
    font-size: 20px;
}


.info__titl1{
margin-top: 27px;
     font-family:  sans-serif;
     font-weight: 600;
    font-size: 20px;

}



.info__titl2{
    margin-top: 30px;
      font-family:  sans-serif;
     font-weight: 600;
    font-size: 20px;

}
.info__titl3{
    margin-top: 30px;
      font-family:  sans-serif;
     font-weight: 600;
    font-size: 20px;

}
.info__txt{
        line-height:35px;
    font-weight: normal;
    margin-top: 18px;
        font-size:15px;
}