.press {
    width: 1200px;
    display: flex;
    position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    height: 487px;
    background-color: #ede5d8;
}

.press__title {
    font-family: sans-serif;
    position: absolute;
    font-size: 40px;
    font-weight: 600;
    margin-left: 200px;
    margin-top: 90px;

}

.press__text {

    margin-top: 220px;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 30px;
      margin-left: 200px;
}

.pres__read {
    position: absolute;
    padding-top: 342px;
    margin-left: 200px;
}

.press__button {
    position: absolute;
    padding-top: 18px;
    padding-left: 25px;
    width: 143px;
    height: 32px;
    font-family: sans-serif;
    color: #a5a198;
    font-family: sans-serif;
    border: 3px solid #a5a198;
    /* Параметры границы */
    background: #ede5d8;
    /* Цвет фона */
}



.press__name {
    position: absolute;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 360px;
    margin-left: 670px;
    font-size: 20px;

}
